body{
  background-image: url("what-the-hex.png");
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 180px;
  padding: 20px;
  color: #3c3c3d;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.Nav-link{
  background-color: #3c3c3d;
  border: 5px solid #3c3c3d;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  position: relative;
  top: -35px;
}
.Nav-link:hover{
    background-color: #ffffff;
    color: #3c3c3d;
  }

.Hash-link{
  text-decoration: none;
  color: #3C3C3D;
}

.Hash-link:hover{
  color: #ECF0F1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
